body {
    padding: 0;
    margin: 0;
    font-family: Nunito Sans;
    font-style: normal;
}

.main-content {
    display: flex;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 10rem;
}

    .left-content {
        display: flex;
        width: 60%;
        flex-direction: column;
        background-image: url(../images/bg-left.svg);
        background-size: cover;
        box-sizing: border-box;
        padding-left: 10rem;
        color: #FFF;
    }

        .left-bg-app {
            display: flex;
        }

        .top-left-title {
            padding-top: 2rem;
        }

        .bottom-left-title {
            line-height: 33px;
            font-size: 24px;
            font-weight: bold;
        }

        .left-parag {
            font-size: 16px;
            line-height: 23px;
            width: 30.5rem;
        }
        

    .right-content {
        display: flex;
        width: 40%;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 4rem;
    }

        .top-right-title {
            font-size: 24px;
            font-weight: bold;
            line-height: 33px;
            width: 83%;
            color: #3A3D42;
            padding-top: 3rem;
        }

        .top-right-parag {
            font-size: 16px;
            font-weight: normal;
            line-height: 30px;
            width: 85%;
            color: rgba(58, 61, 66, 0.6);
        }

        .auth-form {
            margin-top: 5rem;
        }

        .input-form-field {
            width: 91%;
            height: 2rem;
            outline: 0;
            border: none;
            border-bottom: 1px solid rgba(169, 169, 169, 0.8);
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color: #000;
            padding-left: 2.5rem;
        }

        .input-form-field:focus + .icon{
            color: #6379F4;
        }

        .input-form-field:focus {
            border-color: #6379F4;
        }

        .input-form-field::placeholder {
            color: rgba(169, 169, 169, 0.8);
        }


        .icon {
            position: absolute;
            padding-top: 0.2rem;
            width: 1.5rem;
            color: rgba(169, 169, 169, 0.8);
            font-size: 23px;
            transform: translate(-30rem, 0px);
        }

        .far.fa-eye-slash {
            position: absolute;
            transform: translate(-35px, 5px);
            font-size: 20px;
        }

        .auth-forget-link {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 1rem;
        }

        .forget-password-link {
            color: rgba(58, 61, 66, 0.8);
            text-decoration: none;
        }
    
        .forget-password-link:hover {
            color: #6379F4;
        }

        .auth-form-bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 5rem;
        }

        .form-button {
            width: 26rem;
            height: 4rem;
            border: none;
            border-radius: 1rem;
            font-size: 18px;
            color: #88888F;
            font-weight: 700;
        }

        .form-button:hover {
            background-color:#6379F4;
            color: #fff;
            cursor: pointer;
        }

        .auth-form-label {
            color: rgba(58, 61, 66, 0.8);
            line-height: 23px;
            font-size: 16px;
            font-weight: normal;
        }

        .auth-form-link {
            color: #6379F4;
            text-decoration: none;
        }
        
        .auth-form-link:hover {
            color: #4c5dbd;
        }