body {
    padding: 0;
    margin: 0;
    font-family: Nunito Sans;
    background-color: #f6faff;
    color: #3A3D42;
}

/* Navbar Container Area */

.box {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}


nav {
    background-color: #fff;
    display: flex;
    height: 14vh;
    width: 100%;
    
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.navbar {
    display: flex;
    padding: 0 10rem;
    flex-direction: row;
}


    .navbar.left {
        display: flex;
        flex: 1;
        align-items: center;
    }

        .navbar-brand-title {
            display: flex;
            color: #6379F4;
            font-weight: bold;
            font-size: 29px;
            line-height: 40px;
            font-style: none;
            text-decoration: none;
        }

    .navbar.right {
        display: flex;
        flex: 2;
        justify-content: flex-end;
        align-items: center;
    }

        .user-image {
            display: flex;
        }

        .user-info {
            display: flex;
            flex-direction: column;
            padding: 0 1rem;
        }

        

        .user-info:hover {
            background-color: rgb(240, 238, 238);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
            border-radius: 1rem;
            cursor: pointer;
        }

        .user-name {
            font-weight: bold;
            font-size: 18px;
            line-height: 31px;
            text-align: center;
            color: #3A3D42;
            margin: 0;
        }

        .user-phone {
            font-weight: normal;
            font-size: 13px;
            line-height: 24px;
            color: rgba(58, 61, 66, 0.9);
        }

        .far.fa-bell {
            font-size: 25px;
        }
    
        .far.fa-bell:hover {
            color: #6379F4;
            cursor: pointer;
        }


/* Main Container Area */


.main-container {
    display: flex;
    height: 79vh;
    box-sizing: border-box;
    width: 100%;
}

.inner-container {
    width: 100%;
    display: flex;
    padding: 1rem 10rem;
    box-sizing: border-box;
}

/* Sidebar Menu Area */


.sidebar-menu{
    display: flex;
    flex-direction: column;
    flex: 1;
}

    .sidebar-menu.upper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sidebar-menu.upper:hover {
        border-left: 5px solid #6379F4;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
    }

    .sidebar-menu.upper.current {
        border-left: 5px solid #6379F4;
    }

    .sidebar-menu.lower {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5rem;
    }

        .sidebar-menu.lower:hover {
            border-left: 5px solid #6379F4;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
        }

        .sidebar-menu-li {
            list-style: none;
            padding-left: 7rem;
            text-decoration: none;
            color: #3A3D42;
        }
            .sidebar-menu-li:visited {
                text-decoration: none;
                color: #3A3D42;
            }

       
        .icon {
            position: absolute;
            padding-left: 3rem;
            font-size: 25px;
            color: #6A6A6A;
            ;
        }

        .active {
            position: absolute;
            color: #6379F4;
        }


/* Transaction Wrapper Area */
.status-wrapper {
    display: flex;
    margin: 0 1rem;
    flex: 4;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

.status-top {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

    .circle-icon {
        font-size: 50px;
        color: #1EC15F;
    }

    .circle-icon1 {
        font-size: 50px;
        color: #FF5B37;
    }

    .status-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        margin: 10px;
    }

    .status-subtitle {
        width: 36rem;
        text-align: center;
        margin: 10px;
    }

.transaction-status-title {
    padding: 0 1rem;
}

    .detail-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;color: #514F5B;
    }

.status-middle {
    /* display: flex;
    flex: 3; */
    flex-direction: column;
    width: 100%;
    border: 1px solid #edeef0;
    border-radius: 1rem;
}

    .middle-section-scroll{
        height: 20rem;
        overflow: hidden;
        overflow-y: scroll;
    }

    .middle-section-scroll-failed{
        height: 10rem;
        overflow: hidden;
        overflow-y: scroll;
        box-sizing: border-box;
        padding: 1rem 0;
    }


    .item.middle.wrapper {
        align-items: center;
        display: flex;
        padding: 0.5rem 1rem;
        margin: 1rem;
    }



.item.status-info {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: flex-start;
}

    .item-status-desc {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
    }

    .item-status-title{
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
    }


.status-bottom {
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
}

    .bottom-title {
        margin: 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #514F5B;
    }

    .item.bottom.wrapper {
        align-items: center;
        display: flex;
        flex: 1;
        
    }

        .item.user-picture {
            display: flex;
            padding: 1rem;
        }
        
        .item.transfer-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

            .transfer-username {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
            }

            .transfer-number {
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
            }

        .item.bottom.wrapper.buttons{
            align-items: center;
            display: flex;
            flex: 1;
            justify-content: flex-end;
            padding: 1rem;
        }

        .form-button {
            width: 15rem;
            height: 3.5rem;
            border: none;
            border-radius: 1rem;
            font-size: 18px;
            background-color: #6379F4;
            color: #FFF;
            font-weight: 700;
            cursor: pointer;
            margin: 0 1rem;
        }

        .form-button.download {
            width: 15rem;
            height: 3.5rem;
            border: none;
            border-radius: 1rem;
            font-size: 18px;
            background-color: rgba(99, 121, 244, 0.15);
            color: #6379F4;
            font-weight: 700;
            cursor: pointer;
            margin: 0 1rem;
        }

            .download-icon.fas.fa-download {
               padding-right: 1rem;
            }

        .form-button.share {
            width: 5rem;
            height: 3.5rem;
            border: none;
            border-radius: 1rem;
            font-size: 18px;
            background-color: rgba(99, 121, 244, 0.15);
            color: #3A3D42;
            font-weight: 700;
            cursor: pointer;
            margin: 0 1rem;
        }


/* Footer Area */


footer {
    height: 7vh;
    width: 100%;
    background-color: #6379F4;
}

.inner-footer {
    height: 100%;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer.right {
    display: flex;
}

.footer-title {
    margin: 0 10px;
}



.footer-title {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: rgba(239, 239, 239, 0.9);
}
.footer-title.right {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #EFEFEF;
    
}