body {
    padding: 0;
    margin: 0;
    font-family: Nunito Sans;
    background-color: #FAFCFF;
    color: #3A3D42;
}

/* Navbar Container Area */

.box {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}



nav {
    background-color: #fff;
    display: flex;
    height: 14vh;
    width: 100%;
    
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.navbar {
    display: flex;
    padding: 0 10rem;
    flex-direction: row;
}


    .navbar.left {
        display: flex;
        flex: 1;
        align-items: center;
    }

        .navbar-brand-title {
            display: flex;
            color: #6379F4;
            font-weight: bold;
            font-size: 29px;
            line-height: 40px;
            font-style: none;
            text-decoration: none;
        }

    .navbar.right {
        display: flex;
        flex: 2;
        justify-content: flex-end;
        align-items: center;
    }

        .user-image {
            display: flex;
        }

        .user-info {
            display: flex;
            flex-direction: column;
            padding: 0 1rem;
        }

        

        .user-info:hover {
            background-color: rgb(240, 238, 238);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
            border-radius: 1rem;
            cursor: pointer;
        }

        .user-name {
            font-weight: bold;
            font-size: 18px;
            line-height: 31px;
            text-align: center;
            color: #3A3D42;
            margin: 0;
        }

        .user-phone {
            font-weight: normal;
            font-size: 13px;
            line-height: 24px;
            color: rgba(58, 61, 66, 0.9);
        }

        .far.fa-bell {
            font-size: 25px;
        }
    
        .far.fa-bell:hover {
            color: #6379F4;
            cursor: pointer;
        }


/* Main Container Area */


.main-container {
    display: flex;
    height: 79vh;
    box-sizing: border-box;
    width: 100%;
}

.inner-container {
    width: 100%;
    display: flex;
    padding: 1rem 10rem;
    box-sizing: border-box;
}

/* Sidebar Menu Area */

.sidebar-menu{
    display: flex;
    flex-direction: column;
    flex: 1;
}

    .sidebar-menu.upper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sidebar-menu.upper.current {
        border-left: 5px solid #6379F4;
    }

    .sidebar-menu.upper:hover {
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
    }
    

    .sidebar-menu.lower {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5rem;
    }

        .sidebar-menu.lower:hover {
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
        }

        .sidebar-menu-li {
            list-style: none;
            padding-left: 7rem;
            text-decoration: none;
            color: #3A3D42;
        }
            .sidebar-menu-li:visited {
                text-decoration: none;
                color: #3A3D42;
            }


        .icon {
            position: absolute;
            padding-left: 3rem;
            font-size: 25px;
            color: #6A6A6A;
            ;
        }

        .active {
            position: absolute;
            color: #6379F4;
        }


/* Transaction Wrapper Area */
.transaction-wrapper {
    display: flex;
    margin: 0 1rem;
    flex: 4;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;

}

    .transaction-top {
        display: flex;
        flex: 0.5;
        flex-direction: column;
        padding-left: 2rem;
    }

        .transaction-title {
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
        }

        /* Receiver Search Bar Area */        
        .form-search {
            width: 59rem;
            height: 3rem;
            outline: 0;
            border: none;
            border-radius: 12px;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color: #000;
            background-color: rgba(58, 61, 66, 0.1);;
            padding-left: 3rem;
        }

        .form-search:focus {
            border-color: #000;
        }

        .form-search::placeholder {
            color: rgba(169, 169, 169, 0.8);
        }

        .search-icon {
            position: absolute;
            padding: 1rem;
            font-size: 20px;
        }
        /* Receiver Search Bar Area End */  

    .transaction-bottom {
        display: flex;
        flex: 3;
        flex-direction: column;
        padding: 0 1rem;
    }

        .item-wrapper {
            display: flex;
            box-sizing: border-box;
            margin: 10px;
            flex: 2;
            text-decoration: none;
        }

        .item-wrapper:visited {
            color: #3A3D42;
            text-decoration: none;
        }

        .item-wrapper.select:hover {
            background-color: rgb(240, 238, 238);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
            border-radius: 1rem;
            cursor: pointer;
        }

            .item.user-picture {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
            }

            .transaction-user-picture {
                width: 70px;
                height: 70px;
            }
            
            .item.history-info {
                display: flex;
                flex: 7;
                flex-direction: column;
                justify-content: center;
            }
            
                .transfer-user-name {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 22px;
                }
            
                .transfer-method {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 19px;
                }


/* Footer Area */


footer {
    height: 7vh;
    width: 100%;
    background-color: #6379F4;
}

.inner-footer {
    height: 100%;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer.right {
    display: flex;
}

.footer-title {
    margin: 0 10px;
}



.footer-title {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: rgba(239, 239, 239, 0.9);
}
.footer-title.right {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #EFEFEF;
    
}








.input.item-wrapper {
    display: flex;
    box-sizing: border-box;
    margin: 10px;
    padding: 1rem 0;
    flex: 2;
    text-decoration: none;
}

.input.item-wrapper:visited {
    color: #3A3D42;
    text-decoration: none;
}

.input.item-wrapper.select:hover {
    background-color: rgb(240, 238, 238);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    cursor: pointer;
}


.input-amount-upper {
    display: flex;
    flex: 1;
    
}

    .transfer-parag.blank {
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #7A7886;
        width: 22rem;
        padding-left: 1rem;
    }


.input-amount-center {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-amount-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .input-nominal {
        width: 15rem;
        font-weight: bold;
        font-size: 42px;
        line-height: 56px;
        border: none;
        text-align: center;
        color: #6379F4;
    }
    .input-nominal::placeholder {
        color: #B5BDCC;
    }

    .input-nominal:focus {
        outline: none;
    }


    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }

    .input-amount-status {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #3A3D42;
    }


.input-form.blank {
    display: flex;
    flex: 1;
    justify-content: center;
}

    
    .input-form-note {
        width: 25rem;
        height: 2rem;
        outline: 0;
        border: none;
        border-bottom: 2px solid rgba(169, 169, 169, 0.8);
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        padding-left: 3rem;
    }

    .input-form-note::placeholder {
        color: rgba(169, 169, 169, 0.8);
    }

    .input-form-note:focus {
        border-bottom: 2px solid #4b5dc0;
    }

    .input-form-note:focus + .note-icon {
        color: #4b5dc0;
    }

    .note-icon {
        position: absolute;
        transform: translate(-200px, 5px);
        font-size: 20px;
        color: rgba(169, 169, 169, 0.8);
    }


.input-amount-lower {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.form-button {
    width: 15rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 18px;
    background-color: #6379F4;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.form-button:hover {
    background-color:#4b5dc0;
    color: #fff;
}