@media screen and (max-width: 1024px) {

    .sidebar-menu-li {
        padding-left: 3rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    

    .inner-container {
        padding: 1rem 2rem;
    }

    

    .user-info-mobile {
        display: none;
    }

    .icon {
        padding-left: 1rem;
    }

}



@media screen and (min-width: 1440px) {
    .user-info-mobile {
        display: none;
    }
}