@media screen and (max-width: 1024px) {
    
    .form-search {
        width: 38rem;
    }

    .sidebar-menu-li {
        padding-left: 3rem;
    }

    .transaction-middle, .search-input-area {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {

    .inner-container {
        padding: 1rem 2rem;
    }

    

    .user-info-mobile, .transaction-middle, .search-input-area  {
        display: none;
    }

    .icon {
        padding-left: 1rem;
    }

}



@media screen and (min-width: 1440px) {
    .user-info-mobile, .transaction-middle, .search-input-area  {
        display: none;
    }

    .form-search {
        width: 67rem;
    }
}


@media screen and (min-width: 320px) and (max-width: 425px){
    .sidebar-menu, nav, footer {
        display: none;
    }

    .inner-container {
        padding: 0;
    }
    .transaction-wrapper {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #FAFCFF;
        border-radius: 0;
        box-shadow: 0;
        
    }

    .search-input-area {
        display: flex;
    }

    .search-title {
        padding-left: 4rem;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #4D4B57;
    }

    .back-icon {
        position: absolute;
        font-size: 20px;
        transform: translate(1.5rem, 1.5rem);
    }

    .transaction-title {
        display: none;
    }

    .transaction-middle {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
    }

    .quick-access-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #514F5B;
        padding: 0 1rem;
    }

    .quick-transaction-middle {
        display: flex;
        flex-direction: row;
    }

    .transaction-top, .transaction-bottom {
        padding: 0;
    }

    .item-wrapper {
        margin: 10px 0;
        padding: 0 1rem;
        border-radius: 0;
    }

    .quick-item-wrapper {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 10px;
        flex: 2;
        text-decoration: none;
        padding: 10px;
    }

    .quick-item-wrapper:visited {
        color: #3A3D42;
        text-decoration: none;
    }

    .quick.item.history-info {
        text-align: center;
    }

    .transaction-user-picture {
        width: 56px;
        height: 56px;
    }

    .input-form {
        display: flex;
        justify-content: center;
    }

    .search-icon {
        transform: translate(-9rem, 0);
    }

    .form-search {
        width: 18rem;
    }


}